<div>
    <h2 id="page-heading">
        <span jhiTranslate="blackvagasApp.vacancy.home.title">Vacancies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vacancy" [routerLink]="['/vacancy/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="blackvagasApp.vacancy.home.createLabel">
            Create a new Vacancy
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="vacancies?.length === 0">
        <span jhiTranslate="blackvagasApp.vacancy.home.notFound">No vacancies found</span>
    </div>
    <div class="table-responsive" *ngIf="vacancies?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="blackvagasApp.vacancy.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numberCandidats"><span jhiTranslate="blackvagasApp.vacancy.numberCandidats">Number Candidats</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateLimit"><span jhiTranslate="blackvagasApp.vacancy.dateLimit">Date Limit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="datePublication"><span jhiTranslate="blackvagasApp.vacancy.datePublication">Date Publication</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="companyId"><span jhiTranslate="blackvagasApp.vacancy.company">Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vacancy of vacancies ;trackBy: trackId">
                <td><a [routerLink]="['/vacancy', vacancy.id, 'view' ]">{{vacancy.id}}</a></td>
                <td>{{vacancy.description}}</td>
                <td>{{vacancy.numberCandidats}}</td>
                <td>{{vacancy.dateLimit | date:'mediumDate'}}</td>
                <td>{{vacancy.datePublication | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="vacancy.companyId">
                        <a [routerLink]="['/company', vacancy.companyId , 'view' ]" >{{vacancy.companyName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/vacancy', vacancy.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vacancy', vacancy.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vacancy', { outlets: { popup: vacancy.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="vacancies?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
